<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
   <head>
      {% block head %}
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">

                <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58629913-4"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-58629913-4');
        </script>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9693825159570052",
        enable_page_level_ads: true
        });
        </script>

        {% if header.description %}
          <meta name = "description" content = "{{ header.description }}">
          {% else %}
          <meta name = "description" content = "{{ site.description }}">
        {% endif %}
        {% if header.robots %}
          <meta name = "robots" content = "{{ header.robots }}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
        <link rel = "icon" type = "image/png" href="{{ theme_url }}/images/favicon.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% block stylesheets %}
             {% do assets.add('theme://css/ionico-main.css',101) %}
             {{ assets.css() }}
        {% endblock %}
      {% endblock head %}
   </head>
      <body>
         {# include the header + navigation #}
         {% include 'partials/header.html.twig' %}


            {% block content %}{% endblock %}


          {# include the footer #}
          {% include 'partials/footer.html.twig' %}
      </body>
   {% block bottom %}{% endblock %}
</html>
