{% extends 'partials/base.html.twig' %}

{% block content %}
{% set collection = page.collection() %}
{% set dateformat = admin.page.dateformat ?: config.system.pages.dateformat.short ?: "F d, Y" %}

<div class="wrapper">
  <div class="post-list">
    <ul>
      {% for post in collection %}
        <li class="post-list-li">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <a href="{{ post.url }}"><img class="featured-image" src="{{ post.url }}/thumb.jpg" alt="thumbnail"></a>
          <p class="post-info"><i>por:</i>&nbsp{{ post.header.author }}&nbsp&nbsp&nbsp<i>em:&nbsp</i>{{ post.date|date(dateformat) }}</p>
          {{ post.summary }}
        </li>
      {% endfor %}
    </ul>
  </div>
    {% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    {% endif %}
  </div>
</div>
{% endblock %}
